<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,  shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div>
    <div class="border-down">
        <div class="container pd-60">
            <div class="row w-100 mx-0 py-3">
                <div class="col-lg-4 my-auto">
                    <p class="subTitleNav">E-Learning Platform</p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center my-auto">
                    <a href="/" class="navbarHTLink2 mr main-navbar-link" id="quiz">Quiz Started! </a>
                </div>
                <div class="col-lg-4 my-auto d-flex align-items-center justify-content-end">
                    <a class="navbarHTLink2"> Welcome back <span class="navbarHTLink3">{{name}}</span></a>
                    <a href="/logout" class="buttonLogout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container pd-60">
        <div class="row">
                <div class="col-lg-12">
                        <div class="putainListing mt-5">
                            <div class="row">
                                <h1 class=" text-center title">{{question}}</h1>
                            </div>
                        </div>
                    </div>
                <form method="POST" action="/api/2/check" id="form">
                    <div class="mb-5">

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="answer">
                        <div class="rad-design"></div>
                        <div class="rad-text">The main market for reselling shoes is online, specifically on websites like Vintage Websites with no authentications or guarantees.</div>
                    </label>

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="answer">
                        <div class="rad-design"></div>
                        <div class="rad-text">Local markets, such as sneaker shops and second-hand markets, can't be sources for finding shoes to resell.</div>
                    </label>

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="answer">
                        <div class="rad-design"></div>
                        <div class="rad-text">Facebook groups and messaging apps like WhatsApp are also places where deals on resellable shoes can be found.</div>
                    </label>

                    <label class="rad-label">
                        <input type="radio" class="rad-input" name="answer" value="{{answer}}">
                        <div class="rad-design"></div>
                        <div class="rad-text">{{answer}}</div>
                    </label>

                    </div>                   
                     <button class="buttonForm" type="submit">Submit form</button>
                </form>
                </div>
            </div>       
        </div>
    </div>

<script>
    const dummy = document.getElementsByClassName('true');
    const count = dummy.length;
    const quiz = document.getElementById('quiz');
    quiz.innerHTML = "Quiz Started!";
</script>
<script>

</script>

</body>
</html>
